/* Screen icon 
 * embed icons with echo get_screen_icon('magic-fields');
 * URL is relative to this CSS file 
*/
#icon-magic-fields {
  background: url(../images/wand-hat-32.png) 0 0 no-repeat;
}

/* Messages boxes 
 * Thanks to: http://www.mattvarone.com/web-design/message-box-with-css/
 * */
.message-box { text-align: center; padding: 5px; color:#545454; width:90%;  margin:5px auto; font-weight:bold;}
.clean { background-color: #efefef; border: 2px solid #dedede; }
.info  { background-color: #f7fafd; border: 2px solid #b5d3ff; }
.ok    { background-color: #d7f7c4; border: 2px solid #82cb2f; }
.alert { background-color: #fef5be; border: 2px solid #fdd425; }
.errors { background-color: #ffcdd1; border: 2px solid #e10c0c; }

/** Add Posty Type **/
/* @todo: columns can be added with classes */
#add_mf_posttype, #add_mf_custom_taxonomy {
  width: 40%;
}

/** form post type  **/
.mf_label_checkbox input[type="checkbox"] { width: auto; }
.mf_label_checkbox input{ width: auto; }
.mf_label_checkbox label{ padding-left: 10px;}
.mf_form p { color: #666; font-size: 12px; font-style: italic; font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; margin: 2px 0 5px 10px; }
.mf_form label {color: #222; text-shadow: white 0 1px 0; padding: 2px; font-size: 12px;font-weight: normal;}
div.mf_form_right { float: left; clear: right; overflow: hidden; margin: 0; width: 50%; padding: 0 !important; }
div.mf_form_right div.inside { padding: 10px; }
div.mf_form_right div.inside p, div.mf_form_right div.inside label{ font-size: 11px }
div.mf_form_right div.inside textarea { height: 100px;}
div.mf_form_right div.inside input, div.mf_form_right div.inside textarea { margin-top: 7px; }
div.options_label label{ width: 130px; float: left; }
div.options label{ width: 140px; float: left; }
div.options_label input,div.options input{ width: 250px;}


/** Sortable Post Type **/
.mf-order-icon { cursor:move; }
.mf-sortable-placeholder { height: 1.2em; line-height:1.2em; display:table-row } 
.ui-sortable-helper  { border: 1px solid #DFDFDF; background: #FFF; }
.mf-ajax-loading { width: 16px; height: 16px; background-image:url('../images/ajax-loader.gif'); display:none; } 

/** required span **/
#wpbody-content span.required { color: red; }

/** anchor delete **/
a.mf-delete, span.mf-delete a{ color: #BC0B0B; }
.mf-change-pt { font-weight: bolder; font-size: 12px; padding-left:200px; }
.mf-no-default-group a { text-decoration: none; }
.mf_add_group_field, .mf_delete_group_field { font-size: 10px; }

/*IE8*/
#add_mf_posttype input[type="checkbox"], 
.mf_label_checkbox input[type="checkbox"],
.mf_form input[type="checkbox"]
{ border:0; }

.mf_form input[type="checkbox"] { width: auto;  }

/* form setting mf */
.mf_form_settings{ float: left;
clear: right;
overflow: hidden;
margin: 0;
width: 90%;
padding: 10px;}

/* custom group div right*/
div.group_side{ text-align: justify;}
div.group_side img { display: block; margin-left: auto; margin-right:auto;}
div.mf_form_right h4 { font-style: italic;}

.mf_form_admin .error { color: #cc0000; }
.mf_form_admin label.error {
  margin-left: 4px;
  margin-top: 2px;
  overflow: hidden;
  zoom: 100%;
  color: red;
  padding: 0px 6px 0px 24px;
  line-height: 20px;
  font-size: 10px;
  height: auto;
  display: block;
  /*background: #FFFFCC url(../images/error-magicfields.png) no-repeat 4px 1px;*/
  background: url(../images/error-magicfields.png) no-repeat 4px 1px;
  margin-right: 18px;
  /*border: 1px solid #DCCD4D;*/
}
div#options_field img { display: block; margin-left: auto; margin-right:auto; border: #D9D9DA solid 2px; padding:2px;}
ul.options-tabs li{ display: inline;}
ul.options-tabs li.tabs a { color: #333; }

div.options,div.options_label{ padding-top: 10px; }
div.options legend, div.options_label legend{ font-style: italic; color: #5A5A5A; padding-bottom: 2px; }
form#addCustomGroup,form#addCustomField,form#import_post_type{ padding-top: 10px; }
div.mf_form_right div.categorydiv div.tabs-panel { height: auto; margin-top: 4px; }

.helptext-form textarea{ height: 70px; }

.wp_themeSkin.mceEditor {
  display:block;
  clear:both;
}
