.mf_group { padding: 0px 7px 8px 7px; border-top: 1px solid #EAEAEA; background: #F8F8F8; padding-bottom: 6px; }
.mf_group:hover { background: #F0F7FD; }
.mf-field label { font-weight:bold; margin: 0 0 8px 3px; font-size:12px; }
.mf-field input { margin-bottom:4px; outline:none; background:#FFF;


